.page {
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-text-size);
  line-height: var(--main-text-line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  bottom: var(--main-offset);
  left: var(--main-offset);
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  top: var(--main-offset);
  right: var(--main-offset);
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--main-offset);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorative-lamp {
  position: absolute;
  top: calc(var(--main-offset) + 1px);
  right: calc(var(--main-offset) + 9px);
  display: var(--decorative-lamp-display);
  align-items: center;
  gap: 9px;
  color: var(--decoration-color);
  font-weight: 400;
  line-height: var(--decorative-text-line-height);
}

.decorative-lamp::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
  background-color: currentColor;
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--theme-menu-color);
  font-weight: 400;
  line-height: var(--menu-button-line-height);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline: none;
}

.header__title {
  justify-self: start;
  align-self: center;
  color: var(--header-title-color);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: var(--header-title-line-height);
  text-shadow: 4px 4px var(--accent-color);
}

.title-decor {
  color: var(--title-decor-text-color);
  background-color: var(--title-decor-bg-color);
}

.header__description {
  justify-self: start;
  align-self: center;
  font-weight: 700;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-content);
  margin-block: var(--gap-between-blocks);
}

.section {
  display: grid;
  gap: 20px;
  padding-inline: var(--main-offset);
}

.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: inherit;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-weight: 700;
  font-size: inherit;
}

.card__text {
  color: var(--card-text-color);
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--card-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--card-text-color);
  outline-offset: 0 3px;
}

.advices__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__description {
  font-weight: 700;
}

.advices__card__title {
  font-weight: 400;
}

.images__container {
  display: flex;
  flex-direction: column;
  gap: var(--main-offset);
  padding-inline: var(--main-offset);
}

.gallery {
  display: grid;
  gap: var(--main-offset);
}

.image {
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  padding: var(--main-offset);
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--footer-title-color);
  font-weight: 700;
  font-size: var(--footer-title-size);
  line-height: var(--footer-title-line-height);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-column: span 2;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2;
    grid-row: 3;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .concentration {
    grid-template-rows: repeat(2, min-content);
  }

  .concentration__card-list {
    grid-column: span 2;
    grid-row: 2;
  }

  .images__container {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery {
    grid-template-columns: 1fr 33vw 1fr;
    grid-template-rows: min-content 33vw min-content;
  }

  .sunset-image {
    grid-column: span 2;
  }

  .ice-cream-image {
    grid-row: span 2;
  }

  .tape-image {
    grid-row: span 2;
  }

  .street-image {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons__card-list {
    grid-column: span 2;
  }

  .concentration__card-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .advices__container {
    grid-column: span 2;
  }
}